[Unit]
Description=Rollout webserver network bootstart
# Before=network-pre.target
# Wants=network-pre.target
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=robot
WorkingDirectory=/home/robot/rollout/rollout_server
# ExecStart=/usr/bin/python /home/robot/rollout/rollout_server/server.py > /home/robot/rollout/rollout_server/serverlog.log 2>&1
ExecStart=/bin/sh -c '. /home/robot/rollout/rollout_env.sh; /usr/bin/python /home/robot/rollout/rollout_server/server.py > /home/robot/rollout/rollout_server/serverlog.log 2>&1'



[Install]
WantedBy=multi-user.target